<div class="background">
    <h1>Character Information</h1>

    <div class="content-box">

      <div class="image">
          <img src="../../../../assets/Yuzuriha_Inori.png" alt="">
      </div>

      <div class="information">
        <p><strong>Yuzuriha Inori</strong> was the female protagonist of Guilty Crown and a member of the resistance guerrilla group called "Funeral Parlor". She was the voice of the internet artist Egoist.</p>

        <div>
            <h2>General Information</h2>
            <p><strong>Japonese Name: </strong> 楪 いのり (ゆずりは いのり)</p>
            <p><strong>Date of Birth </strong> b.2022</p>
            <p><strong>Height: </strong> 166 cm (5'5")</p>
            <p><strong>Age: </strong> 16</p>
            <p><strong>Gender: </strong> Female</p>
        </div>
      </div>
    </div>

</div>
