<div class="background">
    <h2> Introduction</h2>
    <div class="content">
        <p>In 2029, with a sudden encounter and spread of the epidemic "Apocalypse Virus", Japan fell into chaos and became a state of anarchy. In response, "GHQ" was organized under supranational military intervention and placed under its rule; with Japan
            losing its body of an independent state. This incident is later known as "Lost Christmas". Given the country's autonomy, the people enjoyed transient peace. As time flows to the next ten years of 2039, a second year high school student by
            the name of Ouma Shu, attends Tennoz High and lives a peaceful day-to-day life. However, that peace is broken one day when he encounters Yuzuriha Inori, a famous web vocalist, who also on the other hand, doubles surreptitiously as a member
            of "Funeral Parlor"; a resistance group led by a young Tsutsugami Gai, aimed to liberate Japan from the rule of the "GHQ". As Shu gets embroiled into the group's activities, the "Mark of The King" appears on his right hand, earning him the
            ability to freely draw out a person's "Void"(a physical metaphor) and use it as a weapon of convenience. However, that also becomes the "Crown of Sin" that Shu has to shoulder.
        </p>

        <div class="introduction-wallpaper">
            <img src="../../../assets/the_world_3.jpg" alt="">
        </div>
    </div>
</div>
