<div>
  <div class="background-image">
    <img src="../../../assets/Guilty_Crown_logo.png" alt="" />
  </div>
  <div class="content">
    <div class="alinhador">

      <div class="resume-content">
        <div class="resume-title-and-description">
          <h2>Guilty Crown (Anime)</h2>

          <p>
            In 2029, with a sudden encounter and spread of the epidemic "Apocalypse
            Virus", Japan fell into chaos and became a state of anarchy. In
            response, "GHQ" was organized under supranational military intervention
            and placed under its rule; with Japan losing its body of an independent
            state. This incident is later known as "Lost Christmas". Given the
            country's autonomy, the people enjoyed transient peace. As time flows to
            the next ten years of 2039, a second year high school student by the
            name of Ouma Shu, attends Tennoz High and lives a peaceful day-to-day
            life. However, that peace is broken one day when he encounters Yuzuriha
            Inori, a famous web vocalist, who also on the other hand, doubles
            surreptitiously as a member of "Funeral Parlor"; a resistance group led
            by a young Tsutsugami Gai, aimed to liberate Japan from the rule of the
            "GHQ". As Shu gets embroiled into the group's activities, the "Mark of
            The King" appears on his right hand, earning him the ability to freely
            draw out a person's "Void"(a physical metaphor) and use it as a weapon
            of convenience. However, that also becomes the "Crown of Sin" that Shu
            has to shoulder.
          </p>
        </div>

        <div class="resume-image">
          <img src="../../../assets/guilty-crown.jpg" alt="">
        </div>
      </div>









      <div class="resume-content">
        <div class="resume-title-and-description">
          <h2>Guilty Crown: Lost Christmas</h2>

          <p>
            Guilty Crown: Lost Christmas is a game that was released from the new
            series Guilty Crown on 26th July 2012 for the PC. It is based around the
            time of the "Lost Christmas" incident and was sold for 5040 yen for
            normal Edition. The Limited Edition with CG, Accessories and Manga was
            sold for 7140 yen.
          </p>
        </div>

        <div class="resume-image">
          <img src="../../../assets/lost_christmas.jpg" alt="">
        </div>
      </div>












      <div class="resume-content">
        <div class="resume-title-and-description">
          <h2>Guilty Crown: Princess of Deadpool</h2>

          <p>
            The novel is set in Japan, 2039. There are humans possessing the “Power
            of the King” apart from the collection. The resistance organisation
            "Funeral Parlor" obtained a video. In it, a character fighting alone
            against a mysterious armed group was reflected. Cornered and in a
            desperate situation, that character thrust their right arm into their
            own chest ── and then, together with a dazzling light, a sparkling
            silver object materialized into their hand: a "Void".
          </p>
        </div>

        <div class="resume-image">
          <img src="../../../assets/princess_of_deadpool.jpg" alt="">
        </div>
      </div>

    </div>
  </div>
</div>
