<div class="background">
    <h1>Character Information</h1>

    <div class="content-box">

      <div class="information">
        <p><strong>Tsutsugami Gai</strong> is the mysterious and charismatic leader of the group "Funeral Parlor". A childhood friend of Shu Ouma and Mana Ouma, Gai is one of the protagonists of the first half of Guilty Crown, but he was later revealed as the main antagonist of the second half of Guilty Crown after his resurrection.</p>


        <div>
            <h2>General Information</h2>
            <p><strong>Japonese Name: </strong> 恙神 涯 (つつがみ がい)</p>
            <p><strong>Date of Birth </strong> January 9, 2022 (Capricorn)</p>
            <p><strong>Height: </strong> 180 cm (5’11”)</p>
            <p><strong>Age: </strong> 17</p>
            <p><strong>Gender: </strong> Male</p>
        </div>
      </div>

      <div class="image">
          <img src="../../../../assets/Tsutsugami_Gai.png" alt="">
      </div>

    </div>

</div>
