<div class="background">
    <h1>Character Information</h1>

    <div class="content-box">

      <div class="information">
        <p><strong>Ouma Shu</strong> is the main male protagonist of Guilty Crown, whose right hand holds a special power called the Power of the King, given to him by the Void Genome. He attends Tennouzu First High School in class 2-A and is a member of the modern motion picture research club and a member from the group "Funeral Parlor". He appears as a supporting character in Guilty Crown: Lost Christmas and Guilty Crown: Princess of Deadpool.</p>


        <div>
            <h2>General Information</h2>
            <p><strong>Japonese Name: </strong> 桜満 集 (おうま しゅ)</p>
            <p><strong>Date of Birth </strong> July 21, 2022 (Cancer)</p>
            <p><strong>Height: </strong> 170 cm (5’7”)</p>
            <p><strong>Age: </strong> 17</p>
            <p><strong>Gender: </strong> Male</p>
        </div>
      </div>

      <div class="image">
          <img src="../../../../assets/Ouma_Shu.png" alt="">
      </div>

    </div>

</div>
